#root {
  margin: 16px;
}

body{
  background-color: gray;
}

main{
text-align: center;

}
.fighterList{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
}
.fighterListh2{
  display: flex;
  justify-content:center ;
  align-items: center;
}
.teamList{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  display: flex;
  justify-content:center ;
  align-items: center;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  width: fit-content;
  
}

p {
  font-size: 1em;
  font-weight: 400;
}
button{
  border-radius: 3px;
  background-color: white;
}
button:hover{
  background-color: red;
  cursor: pointer;
}
